<div class="buttons-wrapper">
  <a href="/" class="logo">WasteBin</a>
  <div class="buttons">
    <a class="btn" href="/new">new</a>
    <% if(locals.canSave){ %>
    <button class="btn" type="submit">Save</button>
    <% } %> <% if(locals.id != null){ %>
    <a class="btn" href="/<%= locals.id %>/duplicate">Duplicate</a>
    <% } %>
  </div>
</div>
